header, main, footer {
    font-family: "Roboto", sans-serif;
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;

}
h1, h2, h3, h4 {
    font-family: "Red Hat Display", sans-serif;
    color: white;
}
p {
    color: white;
}
#heading {
    display: flex;
    margin: 0 auto;
}
#heading h1 {
    margin: 3rem auto;
}
nav {
    margin: 1em auto;
}
header {
    background-color: #22577A;
    border-bottom: 10px solid #38A3A5;
}
header img {
    width: 20%;
    height: auto;
    object-fit: contain;
}
.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: 800;
}
.navigation li a:hover {
    border: 2px solid #38A3A5 ;
}
#menu {
    width: 100%;
    font-size: 1.5rem;
    border: none;
    padding: 3px 7px 6px;
    background-color: #22577A;
    color: white;
    position:relative;
    margin-top: 1rem;
}
#menu:hover {
    border: 2px solid #38A3A5 ;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "❌";
}
.open li {
    display: block;
    width: 100%;
}
.open li a {
    display: block;
}
.active::before {
    content: "➡️";
}
#hero-container {
    width: 100%;
}
#hero-img {
    width: 100%;
    height: auto;
}
.hero-card {
    width: 70%;
    background-color:#22577A;
    margin: 0 auto;
    padding: .5rem;
}
.hero-card img {
    width: 35%;
    height: auto;
}
.hero-card p {
    font-size: 1rem;
    font-style: oblique;
}
.hero-card h3{
    font-size: 1.5rem;
    margin: .5rem auto;
}
.hero-card .card-impact {
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}
#call-to-action {
    background-color: #22577A;
    padding: 2rem;
    margin: 2rem auto;
    margin-top: 5rem;
    border-bottom: 2rem solid #38A3A5;
    border-left: .5rem solid #38A3A5;
}
#call-to-action p {
    margin: 1em auto;
    margin-bottom: 2em;
    color: white;
}
#call-to-action h3 {
    color: white;
}
#call-to-action a {
    background: #22577A;
    padding: .75rem;
    border-radius: 10%;
    color: white;
    text-decoration: none;
}
#call-to-action a:hover {
    background-color: #38A3A5;
    color: black;
}
#general-info {
    border: 2px solid #38A3A5;
    margin-top: 10rem;
}
#community-info h2, #community-info p {
    color: black;
}
#weather {
    background-color: #22577A;
    padding: 2rem;
    border-top: 4px solid #80ED99;
}
#business-spotlights {
    margin-top: 10rem;
    margin-bottom: 10rem;
}
#business-spotlights h2 {
    color: black;
}
#business-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    margin:0 auto;
    grid-gap: .5rem;
    padding-top: 0; 
    margin-top: 0;
    border-top: 10px solid #38A3A5; 
    border-bottom: 15px solid #38A3A5;
}
#business-images h4 {
    color: black;
}
.business-card {
    width: 100%;
    margin: 1rem auto;
    padding: 0;
    padding-top: 0;
}
.business-img {
    width: 100%;
    height: auto;
}
footer {
    background-color: #22577A;
    color: white;
}

/*v Discover CSS v*/
#discover-main {
    display: grid;
    grid-gap: 1rem;
}
#slider {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    height: auto;
}
.card {
    border: 1px solid black;
    width: 100%;
    box-shadow: 5px 5px 15px;
    background-color: white;
}
.card p {
    color: black;
}
.card h3 {
    background-color: #22577A;
    padding: .75rem;
    margin: 0 auto;
}
#gallery h4 {
    color: black;
    font-style: oblique;
}
#gallery p {
    color: black;
}
#gallery img {
    box-shadow: 5px 5px 15px;
    border-top-right-radius: 5%;
    width: 100%;
    height: auto;
}
#calendar {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0 auto;
}