header img {
    width: 100%;
    border-radius: 5%;
    box-shadow: 5px 4px 25px black;
    grid-column: 2/3;
}
header,
main,
footer {
    font-family: "Roboto", sans-serif;
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}
nav {
    list-style: none;
    background-color: slategray;
    text-align: center;
}
nav a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: larger;
    font-weight: 800;
}
nav a:hover {
    color: steelblue;
    border: 2px solid steelblue;
    background-color: lightgray;
}
header {
    color: white;
    background-color: steelblue;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}
header h1 {
    grid-column: 3/4;
    font-family: "Roboto Condensed", "Roboto", sans-serif;
    font-size: 1.5em;

}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    max-width: 80%;
}
.card {
    border: 2px solid gray;
    box-shadow: 5px 4px 25px black;
}
.card h3 {
    color: white;
    background-color: steelblue;
    padding: 1rem;
    font-family: "Roboto Condensed", sans-serif;
}
.card ul {

    text-align: left;
    list-style: none;
}footer {
    background-color: steelblue;
    color: white;
}
footer img {
    height: .75em;
}